<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: common-head('Embedded Frame')}"></head>

<body>
    <h2>Customer Records</h2>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Orders</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${customers}">
                <td th:text="${c.customerNumber}">103</td>
                <td th:text="${c.customerName}">Atelier graphique</td>
                <td>
                    <a th:href="@{/customers/{id}/orders(id=${c.customerNumber})}">View Orders</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>